<h1>Welcome</h1>

<p>IronSpirits provides best spirits in market</p>


<div id="search-form" class="form-container">

    <p>Search products:</p>

    <form action="/products" method="GET" >

        <label>
            Maximum price:
            <input type="number" min="1" name="maxPrice">
        </label>
        

        <button>Submit</button>
    </form>
</div>

